/* Your styles here */
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #232f3e;
    color : #e1ebea
    
}

.text_left{
    text-align: left;
}
.background_back{
    background-color: #364759;
}
#nav p{
    padding: 0;
    display: inline-block;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}
#nav p:first-of-type{
    padding-left: 20px;
}
#header{
    text-align: left;
}
#header img{
    width: 150px;
    padding: 20px;
}




#main{
    background-color: #e9edee;
    padding: 20px;
}
#title_container{
    background-color: #f36601;
    padding: 2px;
}
#gift_guides_container{
    background-image: url('../images/bg-image.png');
    background-position: top;
    background-size: auto;
    padding: 20px;
    margin-top: 20px;
}

#four_images_container{
    background-color: white;
    padding: 20px;
}
#four_images_container div{
    width: 230px;
    height: 300px;
    margin: 10px;
    background-size: cover;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
#image1{
  
   background-image: url('../images/img_1.jpg');
}
#image2{   
    background-image: url('../images/img_2.jpg');
 }
 #image3{  
    background-image: url('../images/img_3.jpg');
 }
 #image4{
    background-image: url('../images/img_4.jpg');  
 }
 .images{
    width: 100%;
    padding-top: 20px;
 }
 .black{
    font-weight: bold;
    color:#0e0e11;
 }
 .blue_shop{
    color:#318d96;
    padding-left: 5px;
    font-weight: bold;
 }

 a, a:hover, a:active, a::after{
    color:white;
    font-size: 14px;
 }
 
 #back_to_top{
    padding: 10px;
 }
 footer img{
    padding: 40px;
    width: 100px;
 }
 
